* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  color: #b7b7b7;
}
body {
  background: black;
}
  h1 {
    color: rgb(65, 51, 190);
  }
  p {
    color: rgb(250, 0, 0);
  }

  a:link {
    color: red;
  }
  a:visited {
    color: green;
  }
  a:hover {
    color: blueviolet;
  } 
ul {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(/images/header.jpg);
  list-style-type: none;
  display: block;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  }