body {
  background-color: lightblue;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  border: 2px solid rgb(255, 0, 0);
}
.topnav a {
  float: left;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ff0505;
  color: black;
}
.Pagetitle {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.Me {
  display: flex;
  width: auto;
  border: 2px solid rgb(255, 0, 0);
}
.Aboutme {
  display: inline-flex;
  justify-content: center;
  width: 50%;
  border: 2px solid rgb(255, 0, 0);
}
.footer {
  display: flex: position: bottom: ;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  text-align: center;
}
